/* variable declarations */
/* variables available throughout the app (Global Scope) */
/* refers to the html tag, since that is the root of the document */
:root{
  --beige: #dcdcc6;
  --red: #FF3232;
  --blue: #1919FF;
  --purple:#660066;
  --yellow:#ffff32;
}

.grid{
  --columns: 250px 250px;
}

/* styles */

body {
  background-color:var(--beige);
}

h1 {
  text-align: center;
  font-size:32px;
  color:var(--blue);
}
#navbar {
  padding:20px;
  font-size:24px;
  /* variable --nav-blue only accessible in navbar local scope */
  --nav-blue:navy;
}

#navbar>ul{
  display:flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}

li{
  list-style-type: none;
  background-color: var(--red);
  padding:10px;
  border-radius:5px;
}

a{
  text-decoration: none;
  cursor:pointer;
  color:var(--nav-blue);
}

.grid {
  display:grid;
  grid-template-columns: var(--columns);
  grid-auto-rows: 140px;
  grid-gap: 50px;
  justify-content: center;
}

.item {
  background-color:var(--red);
  padding:20px;
  border-radius:10px;
  --blue: lightblue;
}

.item>h1{
  /* inherits blue from parent element "item" */
  color:var(--blue);
}

button {
  display: block;
  margin:0px auto;
  padding:5px 10px;
  background-color:var(--yellow);
  border:1px solid var(--yellow);
  border-radius:5px;
  color:var(--blue);
  cursor:pointer;
}

/* overriding variables on hover */
.item:hover{
  --yellow:gold;
  --red:red;
}

#green{
  margin-top:20px;
  color: green;
  font-weight:bold;
}

@media all and (max-width:500px){
  .grid{
    --columns: 200px;
  }
  :root{
    --beige: #ffeead;
  }
}
